# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

public/videos/hero-x.mp4
public/videos/hero-y.mp4
public/videos/hero-u.mp4
public/videos/hero-z.mp4

public\img\gallery-1.webp
public\img\gallery-5.webp